*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bapak-main5{
    padding: 2rem;
    background-color: black;
    border-top: 8px solid rgb(25, 25, 25);
    border-bottom: 8px solid rgb(25, 25, 25);
}

.content-main5{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
   
}
.text-main5 h4{
    color: whitesmoke;
    font-size: 3rem;
    font-weight: 700;
    margin: 2rem;
}

.btn-mains5{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    line-height: 4rem;
}
.btn-main5{
    display: block;
    text-align: start;
    padding-left: 1.8rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: whitesmoke;
    background-color: #303030;
    border: 0 solid black;
    
}
.inputs-main5{
    margin-top: 2rem;
}

.inputs-main5 p {
    color: whitesmoke;
    font-size: 1.3rem;
}

.input-main5{
    width: 40%;
    line-height: 4rem;
    margin: 0 auto;
    border: 0 solid black;
    font-size: 1.1rem;
    padding-left: 0.5rem;
}
.btn-input-main5{
    line-height: 4rem;
    padding-bottom: 2px;
    width: 10rem;
    background-color:red;
    color: whitesmoke;
    font-weight: 500;
    font-size: 1.3rem;
    border: whitesmoke;
}

.jawaban {
    margin-top: -0.1rem;
    background-color: #303030;
    margin-bottom: 0.5rem;
    text-align: start;
    padding-left: 1.5rem;
    transition: all 10s;
}

.jawaban p {
    color: whitesmoke;
    font-size: 1.2rem;
    display: none;
}

.jawaban-on{
    display: block !important;
}